/* DatePicker.css */
.date-picker-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.date-picker-container input[type="date"] {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  font-size: 1rem;
  color: var(--text-color);
  background-color: #fff;
  max-width: 200px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.date-picker-container input[type="date"]:focus {
  border-color: var(--secondary-color);
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.custom-button {
  background-color: var(--primary-color);
  color: #fff;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  padding: 0.5rem 1rem;
  margin-left: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  max-width: 120px;
}

.custom-button:hover {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.custom-button:focus {
  outline: none;
  box-shadow: none;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}