.nasa-card-img {
  width: 100%;
  /* Ajusta a imagem para ocupar toda a largura da coluna */
  max-height: 550px;
  /* Define a altura máxima da imagem */
  object-fit: cover;
  /* Ajusta o ajuste da imagem para cobrir o espaço */
}

.card-footer {
  text-align: right;
}